@import 'variables';

.cartSummary{
   @include elementFlex(column, flex-start, flex-end);
   width: 100%;
   padding: 50px 15%;
   margin-top: 1vh;
   background-color: #fff;
   &__title{
      font-size: 3rem;
      font-weight: 400;
      padding-bottom: 1rem;
   }
   &__subtitle{
      font-size: 2rem;
      font-weight: 600;
      padding-top: 2rem;
   }
   &__price{
      font-size: 2.5rem;
      font-weight: 400;
   }
   &__shipPrice{
      color: rgb(117, 117, 117);
      font-size: 1.5rem;
   }
   &__fullPrice{
      font-size: 3.5rem;
      font-weight: 600;
      padding: 0.5rem 0 2rem 0;
   }
   &__checkout{
      width: 100%;
      border: 2px solid #000;
      padding: 1rem ;
      font-size: 2.5rem;
      background: #fff;
      transition: background .2s;
      outline: none;
      border-radius: 999px;
      &:hover{
         background: pink;
      }
   }
}