@import 'variables';

.mainHeader{
   width: 100%;
   padding: 0 4%;
   box-sizing: border-box;
   height: 80px;
   position: fixed;
   top: 0;
   left: 0;
   @include elementFlex(row, space-between, center);
   z-index: 100;
   &__logo{
      width: 180px;
   }
   &__wrapper{
      @include elementFlex(row-reverse, center, center);
      a{
         color: rgb(0, 0, 0);
         text-decoration: none;
         font-weight: 500;
      }
   }
   &__products{
      font-size: 3rem;
      padding-right: 3rem;
   }
}

.cartCounter{
   @include elementFlex(row, flex-end, center);
   font-size: 3rem;
   color: rgb(0, 0, 0);
   &__icon{
      width: 3.5rem;
      margin-right: 1rem;
      font-weight: lighter;
   }
   &__number{
      width: 4rem;
   }
}

@media(max-width: 1550px){
   .mainHeader{
      &__logo{
         width: 160px;
      }
   }
}