@import 'variables';

.mainHeader{
   width: 100%;
   padding: 0 4%;
   height: 80px;
   position: fixed;
   top: 0;
   left: 0;
   @include elementFlex(row, space-between, center);
   z-index: 100;
   &__logo{
      width: 180px;
   }
   .cartCounter{
      font-size: 3rem;
      color: #fff;
   }
}

@media(max-width: 1550px){
   .mainHeader{
      &__logo{
         width: 160px;
      }
   }
}