@import 'variables';

.mainHeader{
   width: 100%;
   padding: 0 4%;
   height: 80px;
   position: fixed;
   top: 0;
   left: 0;
   @include elementFlex(row, space-between, center);
   z-index: 100;
   // mix-blend-mode: difference;
  filter: invert(100%);
   &__logo{
      width: 180px;
   }
   .cartCounter{
      font-size: 3rem;
      color: rgb(0, 0, 0);
   }
   &__wrapper{
      @include elementFlex(row-reverse, center, center);
      a{
         color: rgb(0, 0, 0);
         text-decoration: none;
         font-weight: 500;
      }
   }
   &__products{
      font-size: 3rem;
      padding-right: 3rem;
   }
}

@media(max-width: 1550px){
   .mainHeader{
      &__logo{
         width: 160px;
      }
   }
}