@import 'variables';

.ourShop{
   width: 100%;
   padding: 0 5%;
   min-height: 100vh;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-template-rows: 100vh;
   position: relative;
   &__photo{
      @include selfCenter();
      transform: rotateZ(-4deg);
      width: 900px;
      grid-row: 1;
      grid-column: 1;
   }
   &__text{
      grid-row: 1;
      grid-column: 2;
      font-size: 3.5rem;
      line-height: 5rem;
      padding: 20% 13%;
      position: absolute;
      left: -5%;
      transform: translateY(-50%);
      top: 50%;
   }
}