@import 'variables';

.products{
   width: 100%;
   min-height: 100vh;
   background-color: pink;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   row-gap: 10vh;
   padding: 20vh 3%;
   position: relative;
   &__title{
      position: absolute;
      top: -8rem;
      left: 30%;
      transform: translateX(-50%);
      font-size: 12rem;
      font-weight: 400;
   }
   &__button{ 
      @include selfCenter();
      @include elementFlex(column, center, center);
      padding: 4rem;
      border: none;
      background-color: transparent;
      font-size: 3rem;
      cursor: pointer;
      border: 2px solid #000;
      a{
         color: #000;
         text-decoration: none;
      }
   }
}

@media(max-width: 1200px){
   .products{
      grid-template-columns: repeat(2, 1fr);
   }
}

@media(max-width: 786px){
   .products{
      grid-template-columns: 100%;
      &__title{
         position: absolute;
         width: 100%;
         top: -5rem;
         left: 55%;
         font-size: 8rem;
         font-weight: 400;
      }
   }
}