@import 'variables';

.productThumbnail{
   @include selfCenter();
   display: flex;
   justify-self: center;
   align-items: center;
   flex-direction: column;
   width: 100%;
   min-height: 450px;
   position: relative;
   cursor:  pointer;
   &__photoWrapper{
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      width: 350px;
      top: 0;
      height: 400px;
      overflow: hidden;
   }
   &__photo{
      position: absolute;
      top: -10%;
      left: 50%;
      transform: translateX(-50%);
      width: 130%;
      object-fit: cover;
      justify-self: center;
      overflow: hidden;
   }
   &__info{
      position: absolute;
      padding: 50px 3%;
      left: 50%;
      transform: translateX(-50%);
      width: 350px;
      bottom: -15%;
      @include elementFlex(column, center, flex-start);
      // background-image: linear-gradient(to top, #00000055 , transparent);
   }
   &__price,
   &__title{
      color: #000000;
      font-size: 2rem;
      font-weight: 600;
      letter-spacing: -0.1rem;
   }
   &__price{
      font-weight: 400;
   }
}