@import 'variables';

.recipes{
   width: 100%;
   min-height: 110vh;
   position: relative;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-template-rows: 100vh;
   &__photo{
      @include selfCenter();
      grid-column: 2;
      grid-row: 1;
      transform: rotateZ(-4deg);
   }
   &__text{
      @include selfCenter();
      grid-column: 1;
      grid-row: 1;
      font-size: 3.5rem;
      line-height: 5rem;
      padding: 0 15%;
   }
}

@media(max-width: 1550px){
   .recipes{
      &__photo{
         width: 600px;
      }
   }
}

@media(max-width: 1300px){
   .recipes{
      &__photo{
         width: 480px;
      }
   }
}

@media(max-width: 786px){
   .recipes{
      @include elementFlex(column, center, center);
      &__photo{
         width: 300px;
      }
      &__text{
         width: 100%;
         padding: 0 4%;
         text-align: center;
         font-size: 3rem;
         margin-bottom: 5vh;
      }
   }
}