@import 'variables';

.topProducts{
   width: 100%;
   min-height: 100vh;
   padding: 10vh 0;
   position: relative;
   overflow: hidden;
   &__wrapper{
      margin-top: 150px;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
   }
}

@media(max-width: 1550px){
   .topProducts{
      padding: 5vh 0;
      &__wrapper{
         grid-template-columns: repeat(3, 1fr);
         &:nth-child(3){
            display: none;
         }
      }
   }
}

@media(max-width: 1200px){
   .topProducts{
      padding: 5vh 0;
      &__wrapper{
         grid-template-columns: repeat(2, 1fr);
      &:nth-child(3){
         display: flex;
      }
      }
   }
}

@media(max-width: 786px){
   .topProducts{
      padding: 5vh 0;
      &__wrapper{
         grid-template-columns: 100%;
      &:nth-child(3){
         display: flex;
      }
      }
   }
}