@import 'variables';

.wordScroller{
   @include elementFlex(row, flex-start, center);
   position: absolute;
   min-width: 700vw;
   &__word{
      @include elementFlex(row, flex-start, center);
      flex-wrap: nowrap;
      width: auto;
      padding: 0 2.5rem;
      font-size: 4rem;
      font-weight: 700;
      text-transform: uppercase;
   }
}